:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #007DB3;
  --color-primary-light: #5fc2f0;   /* azul claro, ideal para hover o fondos */
  --color-primary-dark: #00567D;    /* más serio, para títulos, botones sólidos */

  --color-secondary: #F4A261;       /* naranja suave, cálido, contrasta sin agredir */
  --color-secondary-light: #FCD8B4; /* versión pastel del naranja, para fondos o íconos */
  --color-secondary-dark: #C1702E;  /* tierra tostado, para textos o detalles elegantes */

  --color-background: #E6F3F8;      /* fondo principal */
  --color-background-dark: #CBDDE3; /* una versión más oscura del fondo, para secciones */

  --color-text-primary: #1A1A1A;    /* casi negro, buena legibilidad */
  --color-text-secondary: #4D6A75;  /* gris azulado, ideal para párrafos o notas */

  --color-card-background: #F1F8FB;
  --color-hover-background: #D2E9F3;

  
  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: var(--color-background);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* APP STYLES */

.marketing-nav-link {
  color: var(--color-text-primary);
}

.marketing-nav-link:hover {
  color: var(--color-text-primary);
  background-color: var(--color-hover-background) !important;
}